In [ ]:
Day4 class is about introduction to the list datatype:-

Definition:- A list is a collection of items declared in a particular order. We can use any data type either string, integer or float inside 
the list datatype.

Classification:- It is mutable, meaning we can modify or alter the existing list.

General Syntax:- We have to give the list data inside the square braces[].

In [4]:
students=["balu","ravi","girisha"]
print(students)

['balu', 'ravi', 'girisha']

In [ ]:
Introduction to indexing:-

The list follows the index. The list starts from 0. For example, we have 3 students in the list, meaning we have 3 index values. 

#Now the requirement is I have the student girisha so the index value for girisha is 2.

In [6]:
print(students[2])

girisha

In [ ]:
We want the above index value in the correct format so that we will use the title() method.

In [10]:
print(students[2].title())

Girisha

In [ ]:
If suppose we have a 3 students name so we want the index value for the particular student. For that we have to use index() method.

In [14]:
print(students.index("ravi"))

1

In [ ]:
'''Introduction to list methods:-
	
	1. How to add new element in the existing list.
	2. How to modify the element in the existing list.
	3. How to delete the element in the existing list.'''

In [ ]:
'''1. Adding the element in the list.
	
		For adding the element we will use the append() method.'''

In [41]:
print(students)

['balu', 'ravi', 'girisha']

In [43]:
students.append("niteesh")

In [45]:
print(students)

['balu', 'ravi', 'girisha', 'niteesh']

In [ ]:
#Now the requirement is that we want to add the student in a specific index value. For that, we will use the insert() method.

In [47]:
students.insert(1,"aravindh")
print(students)

['balu', 'aravindh', 'ravi', 'girisha', 'niteesh']

In [ ]:
'''2. Modifying the element in the list.
	
		For example our requirement is modify the existing student name shameer with niteesh.'''

In [49]:
print(students)

['balu', 'aravindh', 'ravi', 'girisha', 'niteesh']

In [51]:
students[4]="shameer"
print(students)

['balu', 'aravindh', 'ravi', 'girisha', 'shameer']

In [ ]:
'''3. Deleting the element in the list.
	
		For delete the element in the existing list we use del operator. We cannot use the delete if we use we will get an error.'''

In [53]:
students.delete

AttributeError: 'list' object has no attribute 'delete'

In [55]:
del students[1]
print(students)

['balu', 'ravi', 'girisha', 'shameer']

In [ ]:
#We can use another method as well that is the pop() method.

In [57]:
students.pop(3)
print(students)

['balu', 'ravi', 'girisha']